*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#canvas{
    padding: 20px;
}
h1{
    text-align: center;
    font-size: 25px;
}
#allButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 10px;

}
.button{
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 0 10px black;
}
#grey{
    background-color: grey;
    border: 1px solid black;
}
#white{
    background-color: white;
    border: 1px solid black;
}
#blue{
    background-color: blue;
    border: 1px solid black;
}
#yellow{
    background-color: yellow;
    border: 1px solid black;
}
h2{
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

